{
    "files.autoSave": "onFocusChange",
    "update.mode": "none",
    "git.path": "git",
    "terminal.integrated.shell.windows": "bash.exe",
    "terminal.integrated.shellArgs.windows": [
      "--rcfile", "scripts/zenbuPrompt.sh"
    ],
    "terminal.integrated.shell.osx": "bash",
    "terminal.integrated.shellArgs.osx": [
      "--rcfile", "scripts/zenbuPrompt.sh"
    ],
    "files.associations": {
      "*.command": "shellscript"
    },
}